@import "tailwindcss";

/* Custom nav link underline hover with gradient */
.navlink {
  position: relative;
  color: #d4d3d3;
  transition: all 0.3s;
}

.navlink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-image: linear-gradient(to right, #3b82f6, #9333ea); /* blue to purple */
  transition: width 0.3s ease;
}

.navlink:hover::after {
  width: 100%;
}
.navlink:hover {
  color: white; /* <-- text becomes white */
}