@import "tailwindcss";

/* Custom nav link underline hover with gradient */
.navlink {
  position: relative;
  color: #d4d3d3;
  transition: all 0.3s;
}

.navlink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-image: linear-gradient(to right, #3b82f6, #9333ea); /* blue to purple */
  transition: width 0.3s ease;
}

.navlink:hover::after {
  width: 100%;
}
.navlink:hover {
  color: white; /* <-- text becomes white */
}

@media (max-width: 768px) {
  .mobile-scroll {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;   /* Internet Explorer 10+ */
  }

  .mobile-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .mobile-scroll > * {
    flex-shrink: 0;
    margin-right: 1rem;
  }
}